
pre.ql-syntax {
    background-color: rgb(10, 13, 22);
    color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.page-container{
    display: flex;
    gap: 3rem;
    padding: 120px;
    background: radial-gradient(circle, #3f5efb 50%, #291a3b 90%);
    padding-top: 120px;
    color: white;
}

.page-container.dark{
    background: radial-gradient(circle farthest-corner at 37% 18%, #1a79a53b 0%, #19b3b000 63%), radial-gradient(circle farthest-corner at 100% 100%, #370c20ff 2%, #ffffff00 43%), linear-gradient(to top, #0b0a20ff 0% 100%, #ffffff00 100%), radial-gradient(farthest-corner at 50% 50%, #ff0000ff 0%, #0000ff00 100%);
    padding-top: 120px;
    background-size: 120%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.left-column{
    flex: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-column{
    flex: 70%;
}


