/* ------------------------MAIN----------------------------- */

.main::-webkit-scrollbar {
    overflow: hidden;
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 9rem;
    background-image: radial-gradient(circle, #3f5efb 50%, #291a3b 90%);
    padding-top: 120px;
  }

  .loadingBox1{
    width: 330px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
  }

  .loadingBox2{
    width: 950px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
  }

  .loadingBox3{
    width: 420px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
  }
  
  /* -------USER BOX --------*/
  
  .user{
    flex: 15%;
    min-width: 200px;
  }

  .numbers{
    text-align: center;
    padding: 5px 10px;
  }

  .info-projects{
    margin-left: 40px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  
  
  /*-------- FRIENDS BOX------ */
  .friends {
    flex: 20%;
    min-width: 300px;
  }
  
  .follow-btn{
    color: #008cff;
    font-weight: 500;
    font-family: 'Roboto mono';
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .follow-btn:hover{
    border: 1px solid #008cff;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .showMore-btn{
    border: none; 
    background-color: transparent;
    cursor:pointer;
    display: flex;
  }

  .showMore-btn:hover{
    color: #9c64ba;
  }


@media (max-width: 700px) {
  *{
    font-size: 11px;
  }

  .main{
    display: block;
    overflow-x: hidden;
    padding: 2rem;
  }

  .feed{
    margin-top: 20px;
  }

  .dropzone{
    width: 300px;
    height: 200px;
  }

  .search-box{
    width: 200px;
  }

  .friends{
    margin-top: 20px;
  }

  .logo{
    padding: 5px ;
  }

  .logo img{
    width: 30px;
  }

  .post-elements svg{
    font-size: 25px;
  }

  .block{
    display: flex;
    flex-direction: column;
   justify-content: left;
   gap: 10px;
  }

  .nav-mobile{
    background-color: #252525;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 280px;
    padding: 10px;
  }

  .hidden{
    display: none;
  }

  .space-between{
    flex-wrap: wrap;
  }

  .menu{
    display: block;
  }

  
}
  