.loginPage {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #3048e7f7, #271839);
  color: #ffffff;
}

a {
  color: #006eff;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 70%;
}

.section {
  display: flex;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.text {
  width: 600px;
  margin-left: 80px;
}

.section button {
  background-color: transparent;
  border: 1px solid #00FFC2;
  color: #00FFC2;
  margin-top: 20px;
  padding: 15px 50px;
  font-weight: 600;
}

.section button:hover {
  background-color: #00FFC2;
  color: #2e1039;
  cursor: pointer;
}

.loginPage h1 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  font-family: 'Roboto mono';
}

.loginPage h2 {
  font-size: 36px;
  font-weight: 300;
  font-family: 'poppins';
  margin: 0;
}

.loginPage h3 {
  margin: 0;

}

.loginPage span {
  color: #00FFC2;
  font-weight: 500;

}

.d3-container {
  position: relative;
}

.d3-container img {
  position: absolute;
}

.sloth {
  top: -300px;
  left: 190px;
}

.folder {
  top: -50px;
  left: 550px;
}

.cursor {
  top: 80px;
  right: -50px;
}

.wheel {
  right: 300px;
  top: 120px;
}

.mac {
  right: 260px;
  bottom: -250px;
}

.camera {
  top: 150px;
  right: -80px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000082;
  flex: 30%
}

.form form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
}

.formTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Roboto mono';
}

.formTitle h2,
h3 {
  font-family: 'Roboto mono';
  font-weight: 600;

}

.form button {
  background-color: #FDAFFF;
  color: #250054;
  border: none;
  font-weight: 800;
  padding: 10px;
  margin-top: 20px;
}

.form button:hover {
  background-color: transparent;
  border: 1px solid #FDAFFF;
  color: #FDAFFF;
  box-shadow: 0px 0px 28px 1px #00FFC2;
  cursor: pointer;
}

.form input {
  background-color: transparent;
  border: 1px solid #00d0ff;
  background-color: #006eff13;
  height: 30px;
  color: white;
}

.form label {
  color: #FDAFFF;
}

.login-img{
  display: none;
}

@media (max-width: 1900px){
  .d3-container{
    display: none;
  }

  .login-img{
    display: block;
   width: 240px;
  }

  .text{
    margin: 0;
  }
}