
.loginPage{
  height: 911px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #2530ff, #271839);
  color: white;
}

.loginPage h1{
  font-size: 64px;
  font-weight: 500;
}

.loginPage h2{
  font-size: 36px;
  font-weight: 300;
  font-family: 'poppins';
}

span{
  color: #00FFC2;
  font-weight: 500;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.51);
  height: 100%;
  width: 70%;
}

.form form{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form button{
  width: 200px;
  background-color: #FDAFFF;
  color: #250054;
  border: none;
  font-weight: 600;
}