*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

/*-------------------- DARK MODE -------------------- */
.main .dark p {
  color: rgb(163, 163, 163);
}

.logo.dark {
  background: linear-gradient(to left, #430f5f, #0052ce);

}

.moon.dark {
  background-color: #1e00ff;
  color: white;
}

.switchButton.dark .circle {
  left: 50px;
  background-color: #bebebe;
  transition: left 0.5s ease;
}

.box.dark {
  background-color: #1e1e1e;
  color: #c9c9c9;

}


.box.dark h4 {
  color: #c397f8
}

.box.dark h5 {
  color: #c397f8
}

.icon.dark {
  color: #ffffff;
}

.header.dark {
  background-color: #1e1e1e;
  color: white;

}


/*------------------ HEADER ------------------*/

.header {
  top: 0;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.logo {
  background: linear-gradient(to left, #9c64ba, #3E8BFF);
  padding: 5px 15px;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 3px 3px 5px rgba(52, 52, 52, 0.411);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.switchBtn {
  width: 75px;
  height: 37px;
  background-color: #bebebe;
  border-radius: 30px;
  display: flex;
}

.moon,
.sun {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 3px 3px 5px rgba(43, 43, 43, 0.411);
  margin: 0;
}

.sun {
  color: rgb(255, 140, 0);
}

.switchButton {
  position: relative;
  width: 75px;
  height: 35px;
  background-color: #EDEDED;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s ease;
}

.circle {
  position: absolute;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: #bebebe;
}

.switchButton .circle {
  transition: left 0.5s ease;
}

.header.light {
  background-color: #ffffff;
}

.nav {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 20px;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.icon.light.css-i4bv87-MuiSvgIcon-root {
  width: 2rem;
  height: 2rem;
}



/* --------GLOBAL CLASSES----- */

.blue{
  color: #008cff;
}

input:focus {
  outline: none;
}

.inline-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.inline-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.box {
  font-family: 'Poppins';
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 20px;
}

.icon {
  color: #909090;
}

.roboto-font {
  font-family: 'Roboto mono';
}

.version2 {
  width: 5px;
}

.ql-toolbar.ql-snow {
  background-color: rgb(186, 186, 186);
  
}

.ql-container.ql-snow {
  background-color: white;
}

.quill{
  margin: 20px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.margin-top{
  margin-top: 15px;
}

.gap{
  gap: 10px
}


/* ---------------media ----------- */

@media screen and (max-width: 700px) {
  .main {   
    flex-direction: column;
    padding: 1rem;
  }
}

@media (max-width: 350px) {
  .navbar{
      flex-direction: column;
  }
  .logo{
      display: none;
  }

}