/*-------------------- DARK MODE -------------------- */

.profile.dark{
  color: white;
  background: radial-gradient(circle farthest-corner at 37% 18%, #1a79a53b 0%, #19b3b000 63%), radial-gradient(circle farthest-corner at 100% 100%, #370c20ff 2%, #ffffff00 43%), linear-gradient(to top, #0b0a20ff 0% 100%, #ffffff00 100%), radial-gradient(farthest-corner at 50% 50%, #ff0000ff 0%, #0000ff00 100%);
    background-size: 140%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main.dark{
  background: radial-gradient(circle farthest-corner at 37% 18%, #1a79a53b 0%, #19b3b000 63%), radial-gradient(circle farthest-corner at 100% 100%, #370c20ff 2%, #ffffff00 43%), linear-gradient(to top, #0b0a20ff 0% 100%, #ffffff00 100%), radial-gradient(farthest-corner at 50% 50%, #ff0000ff 0%, #0000ff00 100%);
    background-size: 120%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
  } 
  .logo.dark {
    background: linear-gradient(to left, #462258, #187ac5);
  
  }
  
  .moon.dark {
    background-color: #1e00ff;
    color: white;
  }
  
  .switchButton.dark .circle {
    left: 50px;
    background-color: hsla(0, 0%, 75%, 0.364);
    transition: left 0.5s ease;
  }
  
  .box.dark {
    background-color: rgba(5, 3, 19, 0.28);
  
  }

  .typography1.dark{
    color: #ffffff5b;
    font-weight: 300;
  }

  .typography2.dark{
    color: hsla(0, 0%, 100%, 0.281);
    font-family: 'Inder', sans-serif;
    font-weight: 300;
  }

  
  .typography4.dark{
    font-family: 'Inder', sans-serif;
    color: hsla(14, 99%, 65%, 0.514);
  }
  
  .icon.dark {
    color: #ffffff;
  }

  .icon.dark:hover{
    color: #fe754d; 
  }
  .header.dark {
    background-color: #00000052;
    color: white; 
  }

  .color.dark{
    background-color: #060a1a
  }

  .tag.dark{
    color: rgba(255, 255, 255, 0.562);
    font-family: 'Inder', sans-serif;
  }
  
  .share-btn.dark{
    background-color: #fe754d;
  }

  .search-box.dark, .search-post.dark{
    background-color: rgba(255, 255, 255, 0.13);
  }

  .profile.dark{
    background-color: #000000;
  }

  .thumbsUp.dark , .orange.dark {
    color: #fe754d;
  }
  
  