
html, body, #root, .App{
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 15px;
  font-family: "Inder", sans-serif;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: rgba(0, 0, 0, 0.818);
}

div,h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#140a20, #2f0b20) ;
}
 
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #fe754d; 
}

/* --------GLOBAL CLASSES----- */

.typography1{
  font-family: 'Roboto mono', sans-serif;
  color: rgba(0, 0, 0, 0.589);
  font-size: 12px;
}

.typography2{
  font-family: 'Inder', sans-serif;
  color: rgba(0, 0, 0, 0.63);
  
}

.typography4{
  font-family: 'Inder', sans-serif;
  color: #919191;
}

.blue{
  color: #008cff;
}

.white{
  color: #ffffff;
}

.small{
  font-size: 12px;
}

.h3{
  font-size: 24px;
}

.h4{
  font-size: 20px;
}

.bold{
  font-weight: 700;
}

.semibold{
  font-weight: 500;
}

.poppins{
  font-family: 'poppins', sans-serif;
}

.roboto{
  font-family: 'Roboto mono';
}

.inder{
  font-family: "Inder", sans-serif;
}

input:focus {
  outline: none;
}

.inline-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.inline-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.box {
  font-family: 'Poppins';
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 30px;
}

.icon {
  color: #000000a1;
  cursor: pointer;
  font-size: 25px;
  display: flex;
}

.icon:hover{
  color: #1663f1; 
}

.version2 {
  width: 5px;
}

.ql-toolbar.ql-snow {
  background-color: rgb(186, 186, 186);
  
}

.ql-container.ql-snow {
  background-color: white;
}

.quill{
  margin: 20px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.margin-top{
  margin-top: 15px;
}

.gap{
  gap: 10px
}

.close-btn{
  border: none;
  padding: 2px 5px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.close-btn:hover{
  color: #6b05a3;
}

